@import "tailwindcss";

/* :root,body{
  background-color: #1a1a1a;
  color: #fafafa;

} */

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

.img-slider-img{
  flex-shrink: 0;
  flex-grow: 0;
  display: block;
  object-fit: contain;
  height: 100%;
  width: 100%;
  transition: translate 300ms ease-in-out;
  /* clip-path: inset(0 round 10px); */
}

.img-slider-btn:active, .img-slider-btn:hover  > * {
  animation: squish 200ms ease-in-out;
}

@keyframes squish{
  50%{
    scale: 1.4 .6;
  }
}

.grid-box{
  height: 8rem;
  place-content: center;
}

.grid-box:hover{
  cursor: pointer;
}


@media  (width < 968px) {
  .alpe{
    grid-template-columns: 1fr 1fr 1fr;
  }
  
}

@media  (width < 740px) {
  .alpe{
    grid-template-columns: 1fr 1fr;
  }
  
}